{{ define "main" }}
	<article class="content">
		{{ .Render "summary-details" }}
		<div>{{ .Content }}</div>

		{{ $authorsBundle := .Site.GetPage "/authors" }}
		{{ $author_pattern := printf "%s*" .Params.author_staff_member }}
		{{ $authors := $authorsBundle.Resources.Match $author_pattern }}

		{{ range $authors }}
			<h2>Meet the author</h2>
			<div class="post-author staff">
				{{ partial "staff-member.html" . }}
			</div>
		{{ end }}


		<h2>Keep reading</h2>
		<ol class="post-links post-list">
			{{ with .NextInSection }}
				{{ .Render "summary" }}
			{{ end }}

			{{ with .PrevInSection }}
				{{ .Render "summary" }}
			{{ end }}
		</ol>
	</article>
{{ end }}
