{{ define "main" }}
	<article class="content">
		<div>{{ .Content }}</div>

		<ol class="post-list">
			{{ range .Paginator.Pages }}
				{{ .Render "summary" }}
			{{ end }}
		</ol>

		{{ if gt .Paginator.TotalPages 1 }}
			<div class="pagination">
				{{ if .Paginator.HasPrev }}
					<a href="{{ .Paginator.Prev.URL | relURL }}" class="previous btn">&larr; Newer posts</a>
				{{ else }}
					<span></span>
				{{ end }}

				<span>{{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>

				{{ if .Paginator.HasNext }}
					<a href="{{ .Paginator.Next.URL | relURL }}" class="next btn">Older posts &rarr;</a>
				{{ else }}
					<span></span>
				{{ end }}
			</div>
		{{ end }}
	</article>
{{ end }}
