{{ define "main" }}
	<article class="content">
		<div>{{ .Content }}</div>
	</article>

	{{ if .Site.Data.authors }}
		<p>Meet the members of our capable team:</p>

	  <ul class="staff-list">
			{{ range .Site.Data.authors }}
				{{ if .is_staff_member }}
					<li class="staff">
						<div class="staff-details">
							<div class="staff-image">
								<img src="{{ .image }}" alt="Staff photo for {{ .name }}" width="120" height="120">
							</div>
							<ul class="staff-info">
								<li>{{ .name }}</li>
								<li><small>{{ .credentials }}</small></li>
								<li><a href="tel:{{ $.Site.Data.company.contact_phone_number }}">{{ $.Site.Data.company.contact_phone_number }}</a> ext {{ .phone_extension }}</li>
							</ul>
						</div>

						<div class="staff-bio">
							<p>{{ .description }}</p>
						</div>
					</li>
				{{ end }}
			{{ end }}
		</ul>
	{{ end }}
{{ end }}
