<header style="background-image: url('{{ $.Site.Params.backgroundImagePath }}');" {{ if .Params.large_header }}class="main-hero"{{ end }}>
	<div class="container">
		<h1><a href="/">{{ $.Site.Data.company.title }}</a></h1>
		<nav>
			{{ if .Site.Menus.main }}
				<ul>
					{{ $currentPage := . }}
					{{ range .Site.Menus.main }}
						<li>
							<a href="{{ .URL }}" title="{{ .Name }} page" class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">{{ .Name }}</a>
						</li>
					{{ end }}
				</ul>
			{{ end }}
		</nav>
	</div>
</header>
